<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="data:,">
    <title>To Do List</title>
  </head>
  <body>
