<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>To Do List</title>
  </head>
  <body>
    <!-- try to do all of logic inside server! -->
    <% if (kindOfDay === "Monday") { %>
    <h1 style="color: green">It's a <%= kindOfDay %> List</h1>
    <% } else { %>
    <h1 style="color: rosybrown">It's a <%= kindOfDay %> List</h1>
    <% } %>
    <p>Are you working? 🤨</p>
  </body>
</html>
